In [1]:
print("Python é alto nível !")
print("Python é fortemente tipada !")
print("Python é multiparadigma !")
print("Python é interpretada !")
print("É Case Sensitive !")

Python é alto nível !
Python é fortemente tipada !
Python é multiparadigma !
Python é interpretada !
É Case Sensitive !

In [2]:
print("Estou Aprendendo Python")
print("Estou Aprendendo Python")
print("Estou Aprendendo Python")
print("Estou Aprendendo Python")
print("Estou Aprendendo Python")

Estou Aprendendo Python
Estou Aprendendo Python
Estou Aprendendo Python
Estou Aprendendo Python
Estou Aprendendo Python

In [3]:
print("Python \n Maravilha!")

Python
 Maravilha!

In [4]:
print("Python pode usar \t tabulação!")

Python pode usar 	 tabulação!

In [5]:
print ("No Python equivale \r um enter")

 um enter

In [6]:
print("Imprima o \'")

Imprima o '

In [7]:
print("Python é uma ",end="#####")
print(" Maravilha")

Python é uma ##### Maravilha

In [8]:
print("A","B","C", 0,sep="*")

A*B*C*0

In [9]:
print("A","B","C",0,sep="\n")

A
B
C
0

In [10]:
print("   *   ")
print("  ***  ")
print(" ***** ")
print("********")
print("  ||| ")

   *
  ***
 *****
********
  |||

In [11]:
#Listar os tipos de dados conforme valores das variáveis

x=1
y=2.0
soma = 5+5
nome = "Rômulo"
sobrenome = 'Cesar'
ligado = True
print(f"{x},{y}{soma},{nome},{sobrenome},{ligado}")
print(f"{type(x)},{type(y)},{type(soma)}, {type(nome)}, {type(sobrenome)},{type(ligado)}")

1,2.010,Rômulo,Cesar,True
<class 'int'>,<class 'float'>,<class 'int'>, <class 'str'>, <class 'str'>,<class 'bool'>

In [12]:
nome = 10 # não é um string
romulo = 45 # não é um string porque é um número
desligado = "sim" # é um string

print(type(nome))
print(type(romulo))
print(type(desligado))

<class 'int'>
<class 'int'>
<class 'str'>

In [13]:
#Considere a seguinte variável:
valor = 2.718281
print(f"Formatando casas decimais: {valor:.2f}")

Formatando casas decimais: 2.72

In [16]:
#Criar uma constrante de PI com valor real
#Criar um print com o valor formatado com duas casas decimais

PI = 3.1415926535
print(f"Formatando casas decimais: {PI:.2f}")

Formatando casas decimais: 3.14

In [18]:
soma =0 #inicializa a variável com zero
for i in range (1,101) :
  soma = soma + i

print (f"A soma dos número de 1 a 100 é {soma}")

A soma dos número de 1 a 100 é 5050

In [29]:
#Criar uma variável chamada delta com o valor -40
#Criar uma condição if o valor é maior ou menor que zero

delta = -40

if delta > 0 :
  print(f"O valor de delta é {delta} é maior que zero !")
elif delta < 0 :
  print(f"O valor de delta é {delta} é menor que zero !")

O valor de delta é -40 é menor que zero !

In [34]:
matriz_4x3 = [[21,22,23],[24,25,26],[27,28,29],[30,31,32]]

print(matriz_4x3)

[[21, 22, 23], [24, 25, 26], [27, 28, 29], [30, 31, 32]]

In [35]:
matriz_4x3 = 21,22,23,24,25,26,27,28,29,30,31,32

print(matriz_4x3)

(21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32)